@model Courses
@{
    ViewData["Title"] = "Details";
}

<main class="mt-3 mb-5">
    <img src="~/images/courses.jpg" width="1120" height="400"/>
    
    <div class="card" style="width: 70rem;">
        <div class="card-body">
            <h5 class="font-weight-bold mb-3">@Model.Title</h5>
            @if (@Model.Title == "City Design")
            {
                <a asp-controller="Courses" asp-action="CityDesign">City Design</a>

            }
            @if (@Model.Title == "Ceramics & Glass")
            {
                <a asp-controller="Courses" asp-action="CeramicsAndGlass">Ceramics & Glass</a>
            }
            @if (@Model.Title == "Architecture")
            {
                <a asp-controller="Courses" asp-action="Architecture">Architecture</a>

            }
            @if (@Model.Title == "Art & Design")
            {
                <a asp-controller="Courses" asp-action="ArtAndDesign">Art & Design</a>

            }
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Credits: @Model.Credits</li>
            <li class="list-group-item">Description: @Model.Description</li>
            <li class="list-group-item">Actions:</li>
        </ul>
        <div class="card-body">
            @if (User.IsInRole("Admin"))
            {
                <a asp-controller="Courses" asp-action="Edit" asp-route-id="@Model.Id" class="card-link">Edit</a>
                <a asp-controller="Courses" asp-action="Delete" asp-route-id="@Model.Id" class="card-link">Delete</a>
                <a asp-controller="Courses" asp-action="AllCourses" asp-route-id="@Model.Id" class="card-link">All Courses</a>

            }
            else
            {
                <a asp-controller="Courses" asp-action="AllCourses" asp-route-id="@Model.Id" class="card-link">All Courses</a>

            }
        </div>
    </div>
</main>
