@model CCA.ViewModels.Course.CourseIndexDto
@{
    ViewData["Title"] = "_CoursesPartial";
}

<div class="card" style="width: 20rem;">

    <div class="card-body">
        <a asp-controller="Courses" asp-action="Details" asp-route-id="@Model.Id" class="col-md-2">@Model.Title</a>
    </div>
    @if (@Model.Title == "Art & Design")
    {
        <img src="~/images/eb33d93d2da87c69526667a59069007d.jpg" height="300" />
    }
    @if (@Model.Title == "Architecture")
    {
        <img src="~/images/le-architecture.jpg" height="300" />
    }
    @if (@Model.Title == "Ceramics & Glass")
    {
        <img src="~/images/Etruscan_amphora_Louvre_E703_side_B.jpg" height="300" />
    }
</div>